.header {
	display: flex;
	width: 50vw;
	justify-content: space-between;
    align-items: center;
	border: 2px solid var(--header-outline);
	border-radius: 16px;
	padding: 12px 16px;
}

.header img {
	max-height: 80px;
}
